[user]
	name = chrisaddy
	email = chris.william.addy@gmail.com
[github]
	username = chrisaddy
[color]
	ui = auto
[alias]
	aa = add -all
	ci = commit -v
	co = checkout
	st = status
	conflicted = !nvim +Conflicted
	pr = hub pull-request
	wip = git add-all . && git commit -a -m 'wip' && git push
[core]
	excludesfile = ~/.gitignore
	editor = vim
[diff]
	colorMoved = zebra
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
